##################################################
# ENV
##################################################

.env

##################################################
# REACT
##################################################

react_coffee/node_modules/
react_coffee/dist/
react_coffee/build/

##################################################
# SPRING
##################################################

spring_coffee/target/
spring_coffee/.gradle/

##################################################
# IntelliJ
##################################################

.idea/
*.iml

##################################################
# VSCode
##################################################

.vscode/

##################################################
# OS
##################################################

.DS_Store
Thumbs.db

##################################################
# LOG
##################################################

*.log

##################################################
# Docker
##################################################

docker-data/